<?xml version='1.0' encoding='utf-8'?>
<plugin id="CordovaAdvanceAILiveness" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaAdvanceAILiveness</name>
    <js-module name="CordovaAdvanceAILiveness" src="www/CordovaAdvanceAILiveness.js">
        <clobbers target="cordova.plugins.CordovaAdvanceAILiveness" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaAdvanceAILiveness">
                <param name="android-package" value="com.cordova.plugin.AdvanceAI.CordovaAdvanceAILiveness" onload="true" />
            </feature>
        </config-file>

        <source-file src="src/android/CordovaAdvanceAILiveness.java" target-dir="src/com/cordova/plugin/AdvanceAI" />
        <framework src="src/android/liveness" custom="true" />
        <hook type="after_prepare" src="apply.js" />
    </platform>
</plugin>
